@charset "UTF-8";
*{margin: 0;padding: 0; box-sizing: border-box;}
li{list-style: none;}
a{color: #666; text-decoration: none;}
img{vertical-align: top; width: 100%;}
body{
  background-color: #fff;
  color: #666;
}
.container{
  width: 1340px;
  margin: 0 auto;
  height: inherit;
}
/*  */
#wrap{
  width: 100%;
}
/* header */
#header{
  width: 100%;
  height: 100px;
}
#header .container{
  display: flex;
  background-color: #9ac9ff;
}
#header .container .logo{
  width: 200px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* nav */
#header .container .nav{
  width: 80%;
  height: 100px;
  z-index: 100;
}
#header .container .nav > ul{
  display: flex;
  justify-content: right;
  margin: 56px;
  text-align: center;
}
#header .nav > ul>li>a{
  background-color: #f1ecb6;
  padding: 10px 60px;
  display: inline-block;
}
#header .container .nav > ul>li>a:hover{
  background-color: #d9d9d9;
}
#header .nav > ul>li>ul{
  display: none;
}
#header .nav > ul>li>ul>li>a{
  background-color: rgba(255,255,255,0.4);
  display: inline-block;
  padding: 10px;
  width: 100%;
}
#header .nav > ul>li>ul>li>a:hover{
  background-color: rgba(255,255,255,1);
}

/* slider */
#slider{
  width: 100%;
  height: 350px;
  background-color: #b7b7b7;
}
#slider .sliderWrap{
  width: 100%;
  height: 100%;
  position: relative;
}
#slider .sliderWrap .images{
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  position: absolute;
}
#slider .sliderWrap .images.s1{
  background-image: url(../images/slider1.png);
}
#slider .sliderWrap .images.s2{
  background-image: url(../images/slider2.png);
}
#slider .sliderWrap .images.s3{
  background-image: url(../images/slider3.png);
}
/* contents */
#contents{
  width: 100%;
  height: 450px;
}
#contents .container{
  position: relative
}
/* link */
#contents .container .link{
  width: 100%;
  height: 100px;
  background-color: rgba(0,0,0,0.6);
  position: absolute;
  left: 0; top: -100px;
}
#contents .container .link >ul{
  display: flex;
  justify-content: center;
}
#contents .container .link >ul>li{
  /* display: flex; */
  align-items: center;
  box-sizing: border-box;
  color: #fff;
  padding: 0 20px;
  position: relative;
}
#contents .container .link >ul>li>a:hover{
  opacity: 0.8;
}
#contents .container .link .text{
  position: absolute;
  left: 50%; top: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0,0,0,0.7);
  padding: 5px 10px;
}
/* banner */
#contents .container .banner{
  width: 100%;
  height: 150px;
  background-color: #f1ecb6;
  display: flex;
  padding: 20px;
  align-items: center;
  border-bottom: #666 1px solid;
}
#contents .container .banner .banner-text{
  width: 1000px;
  height: 100%;
  padding: 0px 20px;
}
#contents .container .banner .banner-text p{
  padding-top: 10px;
}
/* info */
#contents .container .info{
  width: 100%;
  height: 300px;
  background-color: #f1ecb6;
  padding: 0px 20px;
}
#contents .container .info .info-menu{
  padding: 10px 20px;
}
#contents .container .info .info-menu > a{
  padding-right: 20px;
}
#contents .container .info .info-menu .active{
  text-decoration: underline;
  font-weight: bolder;
}
#contents .container .info .info-cont{
  padding: 10px 15px;
  width: 1000px;
  height: 200px;
  border: #666 solid 1px;
  box-sizing: border-box;
}
#contents .container .info .info-cont .notice >ul{
  line-height: 2;
}
#contents .container .info .info-cont .notice >ul>li{
  display: flex;
}
#contents .container .info .info-cont .notice >ul>li>a{
  width: 70%;
}
#contents .container .info .info-cont .notice >ul>li>a:hover{
  text-decoration: underline;
}
#contents .container .info .info-cont .notice >ul>li>span{
  width: 30%;
  display: flex;
  justify-content: right;
}
#contents .container .info .info-cont .gallery{
  display: none;
  text-align: center;
}
#contents .container .info .info-cont .gallery >ul{
  display: flex;
}
#contents .container .info .info-cont .gallery >ul>li{
  padding: 10px;
}
#contents .container .info .info-cont .gallery >ul>li>a:hover{
  opacity: 0.8;
}
/* footer */
#footer{
  width: 100%;
  height: 120px;
}
#footer .container{
  display: flex;
  background-color: #b8b8b8;
}
#footer .container .footer1{
  width: 200px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#footer .container .footer2{
  width: 1140px;
  height: 120px;
}
#footer .container .footer2 > div{
  padding: 10px;
}
#footer .container .footer2 .f-menu{
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
}
#footer .container .footer2 .f-menu>ul{
  display: flex;
}
#footer .container .footer2 .f-menu>ul>li:first-child>a{
  padding-left: 0;
}
#footer .container .footer2 .f-menu>ul>li>a{
  padding: 0 10px;
  border-right: 1px solid #666;
}
#footer .container .footer2 .f-menu>ul>li:last-child>a{
  border-right: none;
}
#footer .container .footer2 .f-menu>ul>li>a:hover{
  text-decoration: underline;
}
#footer .container .footer2 .f-copy{
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
}
/* popup */
#wrap{
  position: relative;
}
.popup-view{
  position: absolute;
  left: 50%; top: 50%;
  transform: translate(-50%, -50%);
  width: 500px; height: 300px;
  background-color: #fff;
  border: #666 solid 1px;
  padding: 20px;
}
.popup-view h3{
  text-align: center;
  border-bottom: #666 solid 1px;
  padding-bottom: 10px;
}
.popup-view p{
  padding: 10px 0;
}
.popup-view .popup-close{
  position: absolute;
  bottom: 10px; left: 50%;
  transform: translate(-50%, -50%);
  padding: 5px 10px;
  background-color: #e0e0e0;
}