@charset "UTF-8";
*{
  margin: 0; padding: 0;
}
li{
  list-style: none;
}
a{
  color: #333;
  text-decoration: none;
}
img{
  vertical-align: top;
}
/* wrap */
#wrap{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
/* header */
#header{
  width: 200px;
  height: 850px;
  background-color: #84b2ff;
}
#header .logo{
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
}
/* nav */
#header .nav{
  text-align: center;
  padding: 10px;
  box-sizing: border-box;
}
#header .nav >ul>li{
  position: relative;
}
#header .nav >ul>li>a{
  padding: 10px;
  background-color: #d4dbeb;
  display: block;
}
#header .nav >ul>li>a:hover{
  background-color: #e3cece;
}
#header .nav >ul>li>ul{
  position: absolute;
  background-color: #84b1ff71;
  left: 180px;
  top: 0;
  width: calc(100vw - 210px);
  display: flex;
  z-index: 100;
}
#header .nav >ul>li>ul>li>a{
  padding: 10px 30px;
  display: block;
  /* display: none; */
  width: 80px;
}
#header .nav >ul>li>ul>li>a:hover{
  background-color: #e4e0e0;
}
/* spot */
#header .spot{
  display: flex;
  justify-content: center;
  padding-top: 10px;
}
#header .spot >ul{ 
  display: flex;
  position: absolute;
}
#header .spot >ul>li:first-child{
  border-right: #333 1px solid;
}
#header .spot >ul>li>a{
  padding: 10px;
}
#header .spot >ul>li>a:hover{
  text-decoration: underline;
}
/* main */
#main{
  width: calc(100% - 200px);
  height: 850px;
  background-color: #e4e4e4;
}
/* slider */
#slider{
  width: 100%;
  height: 400px;
  position: relative;
}
#slider .sliderWrap .image{
  width: 100%;
  height: 400px;
  position: absolute;
  background-size: cover;
  /* background-position: center; */
}
#slider .sliderWrap .image.s1{
  background-image: url(../images/slider1.png);
}
#slider .sliderWrap .image.s2{
  background-image: url(../images/slider2.png);
}
#slider .sliderWrap .image.s3{
  background-image: url(../images/slider3.png);
}
/* linkWrap */
.linkWrap{
  position: absolute;
  background-color: #84b1ffab;
  width: 100px;
  height: 300px;
  top: 0;
  right: 0;
  padding: 5px 10px;
  box-sizing: border-box;
}
.linkWrap .link{
  text-align: center;
  padding-bottom: 5px;
}
/* banner */
#banner{
  width: 100%;
  height: 200px;
  background-color: #FFF8DE;
  display: flex;
  padding: 10px;
  box-sizing: border-box;
}
#banner .banner1{
  width: 200px;
  height: 100%;
}
#banner .banner-text{
  width: calc(100% - 350px);
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  line-height: 1.7;
}
#banner .banner2{
  width: 150px;
  height: 100%;
}
/* contents */
#contents{
  width: 100%;
  height: 250px;
  padding: 10px;
  box-sizing: border-box;
  background-color: #FFF2C6;
}
#contents .info-menu > a{
  padding-right: 20px;
}
#contents .info-menu .active{
  text-decoration: underline;
}

#contents .info-cont{
  padding-top: 10px;
  padding-left: 20px;
}
#contents .info-cont .notice{
  line-height: 1.7;
  /* display: none; */
}
#contents .info-cont .notice >ul>li{
  display: flex;
}
#contents .info-cont .notice >ul>li>a{
  width: 80%;
}
#contents .info-cont .notice >ul>li>a:hover{
  text-decoration: underline;
}
#contents .info-cont .notice >ul>li>span{
  width: 20%;
}
#contents .info-cont .gallery >ul{
  display: flex;
}
#contents .info-cont .gallery >ul>li{
  padding-right: 20px;
  text-align: center;
}
#contents .info-cont .gallery >ul>li>a:hover{
  opacity: 0.8;
}
#contents .info-cont .gallery >ul>li>a>img{
  width: 70%;
}
#contents .info-cont .gallery >ul>li>p{
  text-align: center;
  padding-top: 10px;
}
/* footer */
#footer{
  width: 100%;
  height: 120px;
  display: flex;
  background-color: black;
}
#footer .logo-f{
  display: flex;
  align-items: center;
}
#footer .footer2{
  width: 100%;
  height: 100%;
}
#footer .footer2 .footer-menu{
  width: 100%;
  height: 50%;
}
#footer .footer2 .footer-menu >ul{
  display: flex;
}
#footer .footer2 .footer-menu >ul>li{
  padding: 8px;
  border-right: #333 solid 1px;
}
#footer .footer2 .footer-menu >ul>li:last-child{
  border-right: none;
}
#footer .footer2 .footer-menu >ul>li>a{
  color: #fff;
}
#footer .footer2 .footer-menu >ul>li>a:hover{
  text-decoration: underline;
}
#footer .footer2 .copy{
  width: 100%;
  height: 50%;
  padding: 8px;
  color: #fff;
}
#footer .footer2 > div{
  display: flex;
  align-items: center;
  box-sizing: border-box;
}
/* popup */
#wrap{
  position: relative;
}
.popup-view{
  width: 500px;
  height: 300px;
  background-color: #cacaca;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  padding: 10px;
  box-sizing: border-box;
}
.popup-view >h2{
  text-align: center;
  border-bottom: #333 2px solid;
}
.popup-view p{
  padding-top: 20px;
}
.popup-view .popup-close{
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, -50%);
  background-color: #bfcce5;
  padding: 5px 10px;
}