@charset "UTF-8";
*{margin: 0;padding: 0;box-sizing: border-box;}
li{list-style: none;}
a{color: #333; text-decoration: none;}
img{vertical-align: top; width: 100%;}
body{background-color: #fff;}
/*  */
#wrap{
  width: 100%;
}
.container{
  width: 1200px;
  height: inherit;
  margin: 0 auto;
}
/* header */
#header{
  width: 100%;
  height: 100px;
  background-color: #b0d7d1;
}
#header .container{
  display: flex;
}
#header .container .logo{
  display: flex;
  justify-content: center;
  align-items: center;
}
#header .container .nav{
  width: 1000px;
  height: 100px;
  z-index: 1000;
}
#header .container .nav>ul{
  display: flex;
  justify-content: right;
  margin: 55px;
  text-align: center;
}
#header .container .nav>ul>li>a{
  padding: 10px 60px;
  display: inline-block;
  background-color: #d0d0d0;
  width: 100%;
}
#header .container .nav>ul>li>a:hover{
  background-color: #bbb4b4;
}
#header .container .nav>ul>li>ul{
  display: none;
}
#header .container .nav>ul>li>ul>li>a{
  padding: 10px;
  display: inline-block;
  width: 100%;
}
#header .nav>ul>li>ul>li>a:hover{
  background-color: #d3bdbd;
}
/* 가상배경 */
#header{
  position: relative;
}
#header::after{
  position: absolute;
  width: 100%;
  height: 0;
  background-color: rgba(255,255,255,0.6);
  left: 0; top: 100px;
  content: '';
  transition: all 400ms;
}
#header.on::after{
  height: 177px;
}
/* slider */
#slider{
  width: 100%;
}
#slider .container{
  height: 300px;
  overflow: hidden;
}
#slider .container .sliderWrap{
  height: 400%;
  width: 400%;
  display: flex;
}
/* main */
#main{
  width: 100%;
}
#main .container{
  display: flex;
}
/* noti */
#main .container .notice{
  width: 400px;
  height: 200px;
  border-right: #333 solid 1px;
}
#main .container .notice .noti-cont {
  padding: 0 20px;
  line-height: 1.8;
}
#main .container .notice .noti-cont >ul>li{
  display: flex;
}
#main .container .notice .noti-cont >ul>li>a{
  width: 70%;
}
#main .container .notice .noti-cont >ul>li>a:hover{
  text-decoration: underline;
}
#main .container .notice .noti-cont >ul>li>span{
  width: 30%;
  display: flex;
  justify-content: right;
}
#main .container .menu{
  padding: 10px;
}
/* gal */
#main .container .gallery{
  width: 400px;
  height: 200px;
  background-color: #fff;
  border-right: #333 solid 1px;
}
#main .container .gallery .gal-cont {
  padding: 0 20px;
  text-align: center;
}
#main .container .gallery .gal-cont >ul{
  display: flex;
  justify-content: center;
}
#main .container .gallery .gal-cont >ul>li{padding: 5px;
}
#main .container .gallery .gal-cont >ul>li>a:hover{
  opacity: 0.8;
}
/* banner */
#main .container .banner{
  width: 400px;
  height: 200px;
  background-color: #d6d5d5;
  background-image: url(../images/link.png);
  position: relative;
}
#main .container .banner .b-text{
  position: absolute;
  left: 50%; top: 50%; transform: translate(-50%,-50%);
  background-color: #b0d7d1a2;
  text-align: center;
  padding: 5px 10px;
  width: 300px;
  height: 100px;
  display: grid;
  align-items: center;
  transition: all 400ms;
}
#main .container .banner a{
  font-weight: bolder;
}
#main .container .banner .b-text:hover{
  border-radius: 100px;
  transition: all 400ms;
}
/* footer */
#footer{
  width: 100%;
  height: 100px;
  background-color: #a4a4a4;
}
#footer .container{
  display: flex;
  justify-content: center;
  align-items: center;
}
#footer .container .f-logo{
  width: 200px;
}
#footer .container .f-copy{
  width: 800px;
  display: flex;
  justify-content: center;
}
#footer .container .f-sns{
  width: 200px;
}
#footer .container .f-sns >ul{
  display: flex;
}
#footer .container .f-sns >ul>li{
  padding: 5px;
}
/* popup */
#wrap{
  position: relative;
}
.popup-view{
  position: absolute;
  left: 50%; top: 50%; transform: translate(-50%,-50%);
  width: 500px;
  height: 300px;
  background-color: #fddada;
  padding: 20px;
  display: none;
}
.popup-view h3{
  text-align: center;
  border-bottom: #333 solid 1px;
}
.popup-view p{
  padding-top: 10px;
}
.popup-view .popup-close{
  position: absolute;
  bottom: 10px; left: 50%;
  transform: translate(-50%,-50%);
  padding: 5px 10px;
  background-color: #fff;
}