@charset "UTF-8";
*{
  margin: 0;
  padding: 0;
}
li{
  list-style: none;
}
a{
  color: #333;
  text-decoration: none;
}
img{
  vertical-align: top;
}
/* wrap */
#wrap{
  width: 1200px;
  margin: 0 auto;
}
/* header */
#header{
  width: 100%;
  height: 100px;
  display: flex;
  background-color: #eed6f3;
}
#header .logo{
  width: 200px;
  height: 100px;
  align-items: center;
  display: flex;
}
#header .nav{
  width: 1000px;
  height: 100px;
  z-index: 100;
}
#header .nav >ul{
  display: flex;
  justify-content: right;
  margin: 40px;
  text-align: center;
}
#header .nav >ul>li>a{
  padding: 10px 60px;
  background-color: #f8f8f8;
  display: inline-block;
}
#header .nav >ul>li>a:hover{
  background-color: #eed6f3;
}
#header .nav >ul>li>ul{
  display: none;
}
#header .nav >ul>li>ul>li>a{
  padding: 10px;
  display: inline-block;
  background-color: #ffffff;
  width: 100%;
  box-sizing: border-box;
}
#header .nav >ul>li>ul>li>a:hover{
  background-color: #eed6f3;
}
/* slider */
#slider{
  width: 100%;
  height: 300px;
  background-color: #d1d1d1;
  overflow: hidden;
}
#slider .sliderWrap{
  height: 400%;
}
/* contents */
#contents{
  width: 100%;
  height: 200px;
  display: flex;
  background-color: #eed6f3;
}
/* info */
#contents .info{
  width: 400px;
  height: 200px;
  padding: 10px;
  box-sizing: border-box;
}
#contents .info .info-menu a{
  padding-right: 15px;
}
#contents .info .info-menu .active{
  text-decoration: underline;
}
#contents .info .info-cont{
  padding-top: 10px;
}
#contents .info .info-cont .notice{
  line-height: 1.7;
}
#contents .info .info-cont .notice ul>li{
  display: flex;
}
#contents .info .info-cont .notice ul>li>a{
  width: 70%;
}
#contents .info .info-cont .notice ul>li>a:hover{
  text-decoration: underline;
}
#contents .info .info-cont .notice ul>li>span{
  width: 30%;
  text-align: right;
}
#contents .info .info-cont .gallery > ul{
  display: flex;
}
#contents .info .info-cont .gallery > ul>li:hover{
  opacity: 0.8;
}
#contents .info .info-cont .gallery > ul>li>img{
  width: 90%;
}
/* banner */
#contents .banner{
  width: 400px;
  height: 200px;
  background-color: #b2b2b2;
  background-image: url(../images/banner.png);
  position: relative;
}
#contents .banner .banner-text{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255,255,255,0.7);
  width: 200px;
  padding: 10px 30px;
  text-align: center;
}
/* link */
#contents .link{
  width: 400px;
  height: 200px;
  background-color: #d0d0d0;
  position: relative;
  background-image: url(../images/link.png);
}
#contents .link .link-text{
  position: absolute;
  width: 100%;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  line-height: 2;
}
#contents .link .link-text p{
  font-size: 20px;
  padding-bottom: 20px;
}
#contents .link .link-text a{
  border: #333 solid 2px;
  padding: 5px 10px;
  background-color: #eed6f3;
}
#contents .link .link-text a:hover{
  border-radius: 50px;
  transition: all 1200ms;
}
/* footer */
#footer{
  width: 100%;
  height: 100px;
  display: flex;
  background-color: black;
}
#footer .logo-f{
  width: 200px;
  height: 100px;
  display: flex;
  align-items: center;
}
#footer .copy{
  width: 800px;
  height: 100px;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  color: #fff;
}
#footer .sns{
  width: 200px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#footer .sns ul{
  display: flex;
}
/* popup */
#wrap{
  position: relative;
}
.popup-view{
  position: absolute;
  left: 50%; top: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 300px;
  background-color: #e6d9d9;
  border: #333 solid 1px;
  padding: 20px;
  box-sizing: border-box;
}
.popup-view h2{
  text-align: center;
  padding-bottom: 10px;
}
.popup-view p{
  line-height: 1.7;
}
.popup-view .popup-close{
  position: absolute;
  left: 50%;
  bottom: 10px;
  transform: translateX(-50%);
  background-color: #e5e5e5;
  padding: 5px 10px;
}