@charset "UTF-8";
*{margin: 0;padding: 0;box-sizing:border-box;}
li{list-style: none;}
a{text-decoration:none; color:#333;}
img{vertical-align: top; width: 100%;}
#wrap{
  width: 1000px;
  height: 650px;
  display: flex;
}
/* header */
#header{
  width: 200px;
  height: 650px;
}
#header .logo{
  width: 100%;
  height: 100px;
  background-color: #d0d0d0;
  display: flex; justify-content: center; align-items: center;
}
#header .nav{
  width: 100%;
  height: 550px;
  background-color: #d9d9d9;
}
#header .nav >ul{
  padding: 20px;
  text-align: center;
  position: relative;
}
#header .nav >ul>li>a{
  padding: 10px;
  display: block;
  background-color: #fff;
}
#header .nav >ul>li>a:hover{
  background-color: #d9d9d9;
}
#header .nav >ul>li>ul{
  position: absolute;
  left: 180px; top:0;
  background-color: #fff;
  width: 180px;
  height: 250px;
  display: none;  
}
#header .nav >ul>li>ul>li>a{
  padding: 10px;
  display: inline-block;
  width: 100%;
}
#header .nav >ul>li>ul>li>a:hover{
  background-color: #c1c1c1;
}


/* right */
.right{
  width: 800px;
  height: 650px;
}

/* slider */
#slider{
  width: 100%;
  height: 350px;
  background-color: #d1d1d1;
  overflow: hidden;
}
#slider .sliderWrap{
  display: flex;
  width: 400%;
  height: 100%;
}
#slider .sliderWrap .images{
  width: 100%;
  height: 100%;
}

/* contents */
#contents{
  width: 100%;
  height: 200px;
  display: flex;
}
#contents .notice{
  width: 270px;
  height: 200px;
  background-color: #d7d7d7;
}
#contents .gallery{
  width: 270px;
  height: 200px;
  background-color: #d3d3d3;
}
#contents .banner{
  width: 260px;
  height: 200px;
  background-color: #d7d7d7;
}

/* footer */
#footer{
  display: flex;
  width: 100%;
  height: 100px;
}
#footer .f-logo{
  width: 200px;
  height: 100%;
  background-color: #c2c2c2;
}
#footer .f-sub{
  width: 600px;
  height: 100%;
}
#footer .f-menu{
  width: 100%;
  height: 50%;
  background-color: #e0e0e0;
}
#footer .f-copy{
  width: 100%;
  height: 50%;
  background-color: #c6c6c6;
}