*{
  margin: 0; padding: 0; 
  box-sizing: border-box;
}
li{ list-style: none;}
a{
  text-decoration: none;
  color: #333;
}
img{width: 100%; vertical-align: top;}

/* wrap */
#wrap{
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}
/* header */
#header{
  width: 200px;
  height: calc(100vh - 100px);
}
#header .logo{
  width: 100%;
  height: 15%;
  background-color: #e7e7e7;
  display: flex;
  justify-content: center;
  align-items: center;
}
#header .nav{
  width: 100%;
  height: 85%;
  background-color: #d1d1d1;
  padding: 10px;
  box-sizing: border-box;
}
#header .nav >ul>li>a{
  background-color: #fff;
  padding: 10px;
  display: block;
}
#header .nav >ul>li>a:hover{
  background-color: #ffe8e8;
}
#header .nav >ul>li>ul{
  display: none;
}
#header .nav >ul>li>ul>li>a{
  padding: 8px;
  display: block;
  background-color: #d9d9d9;
}
#header .nav >ul>li>ul>li>a:hover{
  background-color: #fff;
}

/* main */
#main{
  display: flex;
  width: calc(100% - 200px);
  height: calc(100vh -100px);
}
/* contents */
#main #contents{
  width: 400px;
  height: 100%;
}
#contents .menu{
  background-color: #fff;
  padding: 5px;
  text-align: center;
}
/* notice */
#contents .notice{
  width: 100%;
  height: 40%;
  background-color: #d0d0d0;
  padding: 30px 20px;
}
#contents .notice .noti-cont ul {
  padding-top: 10px;
}
#contents .notice .noti-cont ul li{
  line-height: 2;
  display: flex;
}
#contents .notice .noti-cont ul li a{
  width: 70%;
}
#contents .notice .noti-cont ul li a:hover{
  text-decoration: underline;
}
#contents .notice .noti-cont ul li span{
  width: 30%;
  text-align: right;
}
/* gal */
#contents .gallery{
  width: 100%;
  height: 45%;
  background-color: #d4d4d4;
  padding: 30px 20px;
}
#contents .gallery .gal-cont ul {
  display: flex;
  padding-top: 15px;
  justify-content: center;
  align-items: center;
}
#contents .gallery .gal-cont ul li{
  justify-content: center;
  padding: 0 10px;
}
#contents .gallery .gal-cont ul li a{
  opacity: 0.8;
}
#contents .gallery .gal-cont ul li a:hover{
  opacity: 1;
}
#contents .gallery .gal-cont ul li p{
  text-align: center;
  padding-top: 10px;
}
/* link */
#contents .link{
  width: 100%;
  height: 15%;
  background-color: #d8d8d8;
  display: flex;
  justify-content:center;
}
#contents .link ul{
  display: flex;
  justify-content: center;
  align-items: center;
}
#contents .link ul li p{
  text-align: center;
}


/* slider */
#slider{
  width: calc(100% - 400px);
  height: calc(100vh - 100px);
  background-color: #c8c8c8;
  overflow: hidden;
}
#slider .sliderWrap{
  width: 100%;
  height: 400vh;
}
#slider .sliderWrap .images{
  width: 100%;
  height: 100vh;
  background-position: center;
  background-size: cover;
}
#slider .sliderWrap .images.s1{
  background-image: url(../images/slider1.png);
}
#slider .sliderWrap .images.s2{
  background-image: url(../images/slider2.png);
}
#slider .sliderWrap .images.s3{
  background-image: url(../images/slider3.png);
}


/* footer */
#footer{
  width: 100%;
  height: 100px;
  display: flex;
  background-color: #707070;
}
#footer > div{
  display: flex;
  align-items: center;
  justify-content: center;
}
#footer .f-logo{
  width: 200px;
  height: 100%;
}
#footer .f-copy{
  width: calc(100% - 500px);
  height: 100%;
}
#footer .f-family{
  width: 300px;
  height: 100%;
}
#footer .f-family select{
  width: 80%;
  height: 30px;
  text-align: center;
}
/* popup */
#wrap{
  position: relative;
}
.popup-view{
  position: absolute;
  left: 50%; top: 50%;
  transform: translate(-50%, -50%);
  background-color: #d9d9d9;
  width: 500px;
  height: 300px;
  padding: 20px;
  box-sizing: border-box;
}
.popup-view h3{
  text-align: center;
  border-bottom: #333 solid 1px;
}
.popup-view p{
  padding-top: 20px;
}
.popup-view .popup-close{
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 5px 10px;
}