@charset "UTF-8";
*{ margin: 0; padding: 0; 
  /* box-sizing: border-box; */
}
li{list-style: none;}
a{ text-decoration: none; color: #333;}
body{background: #fff; color: #333;}
img{vertical-align: top; 
  width: 100%;
}
/* #wrap */
#wrap{
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}
#header{
  width: 200px;
  height: calc(100vh - 120px);
  background-color: #9BB4C0;
}
#header .logo{
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* nav */
#header .nav{
  width: 100%;
  height: 90%;
  /* background-color: #9f9797; */
  text-align: center;
}
#header .nav> ul{
  padding: 30px;
  /* position: relative; */
}
#header .nav> ul>li{
  position: relative;

}
#header .nav> ul>li>a{
  background-color: #fff;
  padding: 10px;
  display: block;
}
#header .nav> ul>li>a:hover{
  background-color: #be8585;
  color: #fff;
}
#header .nav> ul>li>ul{
  position: absolute;
  left: 140px;
  top: 0;
  width: 100%;
  z-index: 1;
}
#header .nav> ul>li>ul>li>a{
  background-color: rgb(0, 0, 0, 0.7);
  width: 100%;
  padding: 10px;
  display: block;
  color: #ffb656;
}
#header .nav> ul>li>ul>li>a:hover{
  background-color: rgb(0, 0, 0, 0.9);
  color: #fff;
}



/* contents */
#main{
  width: calc(100% - 200px);
  height: calc(100vh - 120px);
  display: flex;
}
#main #contents{
  width: 400px;
  height: 100%;
  background-color: #E1D0B3;
}
/* banner */
#main #contents .banner{
  width: 100%;
  height: 15%;
  /* background-color: #cdc9c9; */
  display: flex;
  align-items: center;
}
#main #contents .banner .banner-text{
  padding: 10px;
  box-sizing: border-box;
}
#main #contents .banner .banner-text h2{
  font-size: 20px;
}
#main #contents .banner .banner-text p{
  font-size: 15px;
}
/* notice */
#main #contents .notice{
  width: 100%;
  height: 35%;
  /* background-color: #E1D0B3; */
}
#main #contents .notice .notice-cont{
  padding: 10px 20px;
  line-height: 2;
}
#main #contents .notice .notice-cont ul li{
  display: flex;
}
#main #contents .notice .notice-cont ul li a{
  width: 70%;
}
#main #contents .notice .notice-cont ul li a:hover{
  text-decoration: underline;
}
#main #contents .notice .notice-cont ul li span{
  width: 30%;
  display: flex;
  justify-content: right;
}
/* gallery */
#main #contents .gallery{
  width: 100%;
  height: 35%;
  background-color: #E1D0B3;
}
#main #contents .gallery .gallery-cont >ul{
  display: flex;
  justify-content: center;
  text-align: center;
  padding-top: 10px;
}
#main #contents .gallery .gallery-cont >ul>li>a{
  opacity: 0.8;
}
#main #contents .gallery .gallery-cont >ul>li>a:hover{
  opacity: 1;
}
#main #contents .gallery .gallery-cont >ul>li>a>img{
  width: 90%;
}
/*  */
#main #contents .notice, .gallery{
  padding: 5px;
  box-sizing: border-box;
}
#main #contents .menu{
  position: relative;
  background-color: #A18D6D;
  padding:0 10px;
}
#main #contents .menu > span{
  position: absolute;  
  right: 5px;
}
/* link */
#main #contents .link{
  width: 100%;
  height: 15%;
  display: flex;
  align-items: center;
}
#main #contents .link >ul{
  display: flex;
  text-align: center;
}
#main #contents .link >ul>li>a>img{
  width: 50%;
}
/* slider */
#main .slider{
  width: calc(100% - 400px);
  height: 100%;
  background-color: #be8585;
  overflow: hidden;
}
#main .slider .sliderWrap{
  width: 400%;
  height: 100%;
  display: flex;
}
#main .slider .sliderWrap .images{
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}
#main .slider .sliderWrap .images.s1{
  background-image: url(../images/slider.png);
}
#main .slider .sliderWrap .images.s2{
  background-image: url(../images/slider2.png);
}
#main .slider .sliderWrap .images.s3{
  background-image: url(../images/slider3.png);
}
/* footer */
#footer{
  width: 100%;
  height: 120px;
  display: flex;
  background-color: #bababa;
}
#footer .footer1{
  width: 200px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#footer .footer2{
  width: calc(100% - 400px);
  height: 120px;
}
#footer .footer2 .footer-menu{
  width: 100%;
  height: 50%;
  text-align: center;
}
#footer .footer2 .footer-menu >ul{
  padding: 10px;
}
#footer .footer2 .footer-menu >ul>li{
  display: inline-block;
}
#footer .footer2 .footer-menu >ul>li:last-child>a{
  border-right: none;
}
#footer .footer2 .footer-menu >ul>li>a{
  border-right: #333 solid 1px;
  padding: 10px;
  display: inline-block;
}
#footer .footer2 .footer-menu >ul>li>a:hover{
  text-decoration: underline;
}
#footer .footer2 .copy{
  width: 100%;
  height: 50%;
  text-align: center;
  padding-top: 10px;
  box-sizing: border-box;
}
#footer .footer3{
  width: 200px;
  height: 120px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
#footer .footer3 select{
  width: 80%;
  height: 25px;
}
/* popup */
#wrpa{
  position: relative;
}
.popup-view{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 300px;
  background-color: #f3efe0;
  padding: 20px;
  box-sizing: border-box;
}
.popup-view h3{
  text-align: center;
  border-bottom: #333 solid 2px;
  padding-bottom: 10px;
}
.popup-view p{
  padding-top: 20px;
}
.popup-view .popup-close{
  position: absolute;
  bottom: 10px;
  text-align: center;
  background-color: #d9d9d9;
  padding: 5px 10px;
  left: 50%;
  transform: translate(-50%, -50%);
}