@charset "UTF-8";
*{
  margin: 0;padding: 0;box-sizing: border-box;
}
li{list-style: none;}
a{text-decoration: none; color: #333;}
body{background-color: #fff;}
img{vertical-align: top; width: 100%;}
/*  */
#wrap{
  width: 100%;
  height: 700px;
}
.container{
  margin: 0 auto;
  width: 1200px;
  height: inherit;
  /* background-color: #ffe8e8; */
}
#header{
  width: 100%;
  height: 100px;
  background-color: #bdcbe2;
}
#header .container{
  display: flex;
}
#header .container .logo{
  width: 200px;
  height: 100px;
  display: flex;
  align-items: center;
}
/* nav */
#header .container .nav{
  width: 1000px;
  height: 100px;
  z-index: 100;
}
#header .container .nav >ul{
  display: flex;
  justify-content: right;
  margin: 30px;
}
#header .container .nav >ul>li{
  background-color: #bdcbe2;
}
#header .container .nav >ul>li>a{
  background-color: #3e74bd;
  color: #fff;
  padding: 10px 60px;
  display: inline-block;
}
#header .container .nav >ul>li>a:hover{
  background-color: #508bda;
}
#header .container .nav >ul>li>ul{
  display: none;
}
#header .container .nav >ul>li>ul>li>a{
  padding: 10px;
  display: inline-block;
  width: 100%;
  text-align: center;
}
#header .container .nav >ul>li>ul>li>a:hover{
  background-color: #fff;
}

/* slider */
#slider{
  width: 100%;
  height: 300px;
}
#slider .container{
  overflow: hidden;
}
#slider .container .sliderWrap{
  display: flex;
  width: 400%;
  height: 100%;
}
#slider .container .sliderWrap .images{
  width: 1200px;
  height: 100%;
}
/* contents */
#contents{
  width: 100%;
  height: 200px;
}
#contents .container{
  display: flex;
  margin: 0 auto;
  background-color: #b3cae3;
}
#contents .container .info{
  width: 400px;
  height: 100%;
  padding: 10px;
}
#contents .container .info .info-menu a{
  padding-right: 20px;
}
#contents .container .info .info-menu .active{
  text-decoration: underline;
}
#contents .container .info .info-cont{
  padding-top: 5px;
}
#contents .container .info .info-cont .notice{
  line-height: 1.7;
}
#contents .container .info .info-cont .notice ul li{
  display: flex;
}
#contents .container .info .info-cont .notice ul li a{
  width: 60%;
}
#contents .container .info .info-cont .notice ul li a:hover{
  text-decoration: underline;
}
#contents .container .info .info-cont .notice ul li span{
  width: 40%;
  display: flex;
  justify-content: right;
}
#contents .container .info .info-cont .gallery ul{
  display: flex;
  justify-content: center;
  text-align: center;
}
#contents .container .info .info-cont .gallery ul li{
  padding: 5px;
}
#contents .container .info .info-cont .gallery ul li a:hover{
  opacity: 0.8;
  border: #333 solid 1px;
  display: inline-block;
}
/* banner */
#contents .container .banner{
  width: 400px;
  height: 100%;
  background-image: url(../images/banner.png);
  position: relative;
}
#contents .container .banner .b-text{
  position: absolute;
  text-align: center;
  left: 50%; top: 50%; transform: translate(-50%, -50%);
  background-color: rgba(255,255,255,0.7);
  padding: 10px 20px;
  line-height: 2;
}
#contents .container .link{
  width: 400px;
  height: 100%;
  background-image: url(../images/link.png);
  position: relative;
}
#contents .container .link h2{
  background-color: rgba(255,255,255,0.6);
  display: flex;
  justify-content: center;
}
#contents .container .link a{
  position: absolute;
  background-color: #30415f;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px 20px;
  color: #fff;
  transition: 400ms;
}
#contents .container .link a:hover{
  border-radius: 100px;
  transition: 400ms;
}
/* footer */
#footer{
  width: 100%;
  height: 100px;
  background-color: #a5a5a5;
}
#footer .container{
  display: flex;
}
#footer .container .f-logo{
  width: 200px;
  height: 100px;
  display: flex;
  align-items: center;
}
#footer .container .f-sub{
  width: 1000px;
  height: 100px;
}
#footer .container .f-sub .f-menu{
  width: 100%;
  height: 50px;
  display: flex;
}
#footer .container .f-sub .f-menu ul{
  display: flex;
  justify-content: center;
  align-items: center;
}
#footer .container .f-sub .f-menu ul>li:last-child>a{
  border-right: none;
}
#footer .container .f-sub .f-menu ul>li>a{
  padding: 0px 10px;
  border-right: #333 solid 1px;
}
#footer .container .f-sub .f-menu ul>li>a:hover{
  text-decoration: underline;
}
#footer .container .f-sub .f-copy{
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  padding: 10px;
}
/* popup */
#wrap{
  position: relative;
}
.popup-view{
  width: 500px;
  height: 300px;
  background-color: #d0d0d0;
  position: absolute;
  left: 50%; top: 50%; transform: translate(-50%, -50%);
  border: #333 1px solid;
  padding: 20px;
}
.popup-view h3{
  text-align: center;
  border-bottom: #333 solid 2px;
}
.popup-view p{
  padding-top: 10px;
}
.popup-view .popup-close{
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform : translate(-50%, -50%);
  padding: 5px 10px;
  background-color: #fff;
}