@charset "UTF-8";
*{padding: 0;margin: 0;box-sizing: border-box;}
li{list-style: none;}
a{text-decoration: none; color: #333;}
img{vertical-align: top; width: 100%;}
#wrap{
  width: 100%;
  height: 750px;
  display: flex;
  flex-wrap: wrap;
}
/* header */
#header{
  width: 200px;
  height: 650px;
}
#header .logo{
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d0d0d0;
}
#header .nav{
  width: 100%;
  height: 450px;
  background-color: #c0c0c0;
}
/* main */
#main{
  width: calc(100% - 200px);
  height: 650px;
  display: flex;
  flex-wrap: wrap;
}
#main{}

/* slider */
#slider{
  width: calc(100% - 230px);
  height: 400px;
  overflow: hidden;
}
#slider .sliderWrap{
  width: 400%;
  height: 100%;
  display: flex;
}
#slider .sliderWrap .images{
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
}
#slider .sliderWrap .images.s1{
  background-image: url(../images/slider1.png);
}
#slider .sliderWrap .images.s2{
  background-image: url(../images/slider2.png);
}
#slider .sliderWrap .images.s3{
  background-image: url(../images/slider3.png);
}
/* link */
#link{
  width: 230px;
  height: 400px;
  background-color: #c0c0c0;
  background-image: url(../images/banner.png);
  position: relative;
}
#link .link-text > h2{
  width: 180px;
  height: 80px;
  text-align: left;
  padding: 5px 10px;
  position: absolute;
  background-color: rgba(255,255,255,0.7);
  left: 50%; top: 30%; transform: translate(-50%,-50%);
}
#link .link-text a{
  position: absolute;
  right: 10px; bottom: 10px; transform: translate(-50%,-50%);
  
}

/* contents */
#contents{
  width: 100%;
  height: 250px;
  display: flex;
}
#contents .notice{
  width: 50%;
  height: 250px;
  background-color: #b8b8b8;
}
#contents .gallery{
  width: 50%;
  height: 250px;
  background-color: #949494;
}

/* footer */
#footer{
  width: 100%;
  height: 100px;
  display: flex;
}
#footer .f-logo{
  width: 200px;
  height: 100%;
  background-color: #b1b1b1;
}
#footer .f-copy{
  width: calc(100% - 430px);
  height: 100%;
  background-color: #e6c6c6;
}
#footer .f-family{
  width: 230px;
  height: 100%;
  background-color: #b1b1b1;
}